/*
font famil=>    To select the font type
FONT SIZE=> To specify the font size
font weight=>  For font weight
font style=>    
line hight=>
*/
/*
text:italic vs oblique
*/
/* h1 {
   font-family: "lucida  sans", "lucida sans regular", "lucida grande", "lucida sans unicode", geneva , Verdana, Geneva , sans-serif;
   font-size: 50px;
   font-weight:  inherit;
    font-style: italic;
} */
/* p{
    line-height: 1.4;/* line height is 0.4 times the font size of this element
} 

/* text: 
 TEXT decoration
  */
   /* a {
    text-decoration:none;
   } */
   /* div{ 
    text-align: center ; 
     letter-spacing: 30px; 
     text-transform: capitalize ; 
    text-shadow: 1px 1px rgb(38, 5, 94);
   } */
    
   /* 
        task : text wrapping in css at least one example for it     
    */
    /*
     units css
    1-absolute units=> px 
    ..pt  =>printing
    relative units
     */
     *{
        background:black;
        font-size: 16px;
     }
     div{
        /* width: 20%; */
        color: skyblue;
     text-transform: capitalize;
     border: 1px  dashed grey;
     text-wrap: balance;
     }
     h2{
        text-decoration: underline;
        color: white;
     }
p { 
  border:1px dotted  violet;
    color: white;
    strong {color:green}
    font-size:1rem;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    /* white-space :pre-line; */

}